# AGENTS.md

> version {{ version }}

- **Description**: a global user level configuration for my personal coding agent
- **Model family for this coding agent**: {{ model_family }}
- **CLI being used for this coding agent** {{ cli }}
- **Global user level coding agent config directory**: `~/.agents/` (in case need to access global user level config. Prefer project level config dir over this)

## User personalisation

Some details about me (the user). Use it to be informed about my preferences

- **username**: `roudranil` 
- **current occupation**: Machine Learning Scientist II @ Expedia Group
- **academic background**: B.Sc. Math, M.Sc. Data Science and Applied CS
- **existing skillset by training/profession**: Math, Stat, ML in depth. Python
- **existing skillset by hobbies**: R, LaTeX, bash, linux, random coding shit but not that capable


